<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="/stylesheets/gallery.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>

  <div id="container">
    <ul>
      <li><img src="/images/Bilbo making of.jpg" alt="Bilbo"></li>
      <li><img src="/images/Dwarfs making of.jpg" alt="Dwarfs"></li>
      <li><img src="/images/Galadriel and Sauron.jpg" alt="Galadriel and Sauron"></li>
      <li><img src="/images/The ring.jpg" alt="The Ring"></li>
    </ul>
  </div>
</body>
</html>