<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>

  <div id="content">
    <div id="titles">
      <h1>J.R.R. Tolkien</h1>
      <q>A single dream is more powerful than a thousand realities.</q>
    </div>
    <img src="/images/JRR Tolkien.jpg" alt="JRR Tolkien">
  </div>
</body>
</html>