<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
  <link rel="stylesheet" href="/stylesheets/works.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
  <div id="container">
    <ul>
      <li><img src="/images/The Hobbit.jpg" alt="The Hobbit"></li>
      <li><img src="/images/The Fellowship Of The Ring.jpg" alt="The Fellowship Of The Ring"></li>
      <li><img src="/images/The Two Towers.jpg" alt="The Two Towers"></li>
      <li><img src="/images/The Return Of King.jpg" alt="The Return of King"></li>
      <li><img src="/images/The Simarillion.jpg" alt="The Simarillion"></li>
    </ul>
  </div>
</body>
</html>